@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --cursor-x: 100px;
  --cursor-y: 100px;
  --cursor-size: 300px;
  --cursor-color: rgba(0, 55, 200, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background-color: black;
  
}

html, body {
  margin: 0;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    radial-gradient(
      var(--cursor-size) 
      at var(--cursor-x) var(--cursor-y),
      var(--cursor-color), 
      rgb(var(--background-end-rgb)) 80%
    );
}

.box .content .percent .dot {
  animation: animateDot 3s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}


.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.box .content .number h2 {
  font-size: 2.5rem;
  color: #555;
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}